/* ---------------------------------------------------------------------*/
/* ------------------------------- RESET ------------------------------ */
/* ---------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font-weight:inherit; font-style:inherit; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
img { display:block; }
abbr, acronym { border:0; }
select,button { margin: 0; padding: 0; }
select { height: 20px; }
table { border-collapse: separate; border-spacing: 0; }
table p { padding:0px; }


/* ---------------------------------------------------------------------*/
/* ---------------------------- TYPOGRAPHY ---------------------------- */
/* ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* ---------------------------------------------------------------------*/
/* ----------------------------- CLASSES ------------------------------ */
/* ---------------------------------------------------------------------*/
.clear { clear:both; display: block; }
.clear-small { clear: both; display: block; height: 0; line-height: 0; font-size: 0; }
.hide { display:none; }
.show { display:block; }
.printShow { display:none; }
.printHide { display:block; }
.float-left { float:left !important; }
.float-right { float:right !important; }
.align-left { text-align:left !important; }
.align-center { text-align:center !important; }
.align-right { text-align:right !important; }
.align-justify { text-align:justify !important; }
.align-bottom { vertical-align:bottom !important; }
.image-right { float:right; margin:0 0 15px 15px; }
.image-left { float:left; margin:0 15px 15px 0; }
.image-center { margin:0 auto; }
.hand { cursor:pointer; }
.cursor-default { cursor: default; }
