.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $colorTertiary;
  font-size: 11px;
  line-height: 18px;
  padding: 7px 6px;
  margin-bottom: 32px;
  @include mi_breakpoint(small) {
    flex-direction: column;
  }
  &__link {
    text-decoration: none;
    color: #000;
    &:last-of-type {
      text-decoration: underline;
    }
  }
}
