.copy {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 66px;
  p {
    color: #555555;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  a {
    color: #010e43;
  }
}
