.footer {
  padding: 28px 35px 70px;
  background-color: $colorTertiary;
  color: #555;
  font-size: 12px;
  @include mi_breakpoint(small) {
    text-align: center;
  }
  &__info {
    @include mi_breakpoint(small) {
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 40px;
      line-height: 18px;
      @include mi_breakpoint(small) {
        margin-bottom: 10px;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__links {
    a {
      display: block;
      text-decoration: none;
      line-height: 24px;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
