@mixin mi_createCol($i,$numberOfCols,$gutter:$gutter){
  $percentage: percentage($i/$numberOfCols); // Calculate how wide this col should be in %
  flex: 0 0 calc(#{$percentage} - #{$gutter}); // Take the percentage minus the gutter to separate cols appropriately
  width: calc(#{$percentage} - #{$gutter}); // Allows IE9 to understand the column width
}

@mixin mi_createPush($i,$numberOfCols,$gutter:$gutter){
  $percentage: percentage($i/$numberOfCols); // Calculate how wide this col should be in %
  margin-left: calc(#{$percentage} + #{$gutter/2});
}

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  width: calc(100% + #{$gutter});
  margin-left: -#{$gutter/2};
  overflow: visible;

  /* Clear for old browsers that are using clear */
  &:after {
    content: " ";
    display: block;
    clear: both;
  }

  &__block {
    flex: 0 1 auto;
    margin: 0 $gutter/2;
    float: left;  // Old browser support
    &--equal-height {
        display: flex;
    }
  }

  /* Adding this block means child elements don't span 100% height. Useful for some sidebars */
  &__no-grow {
      width: 100%;
  }


  /* Make a 12 column grid system */
  @for $i from 1 to $numberOfCols+1 {
    @include mi_breakpoint(large){
      .grid__block--l#{$i} {
        @include mi_createCol($i,$numberOfCols);
      }
    }

    @include mi_breakpoint(medium){
      .grid__block--m#{$i} {
		    @include mi_createCol($i,$numberOfCols);
      }
    }

    @include mi_breakpoint(small){
      .grid__block--s#{$i} {
        @include mi_createCol($i,$numberOfCols);
      }
    }
  }
}
