.heading {
  font-size: 32px;
  font-weight: 700;
  color: $colorPrimary;
  margin-bottom: 28px;
  &--small {
    color: #000;
    font-size: 14px;
    margin-bottom: 18px;
    font-weight: 700;
  }
}
