.header {
  display: flex;
  justify-content: space-between;
  padding: 11px 0;
  align-items: center;
  &__cta {
    color: $colorSecondary;
    vertical-align: middle;
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
  }
}
