.jump-point {
  position: relative;
  display: block;
  @include mi_breakpoint(small) {
    margin-bottom: 20px;
  }
  &:hover .jump-point__text {
    @include mi_hover(tertiary);
  }
  &__text {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $colorPrimary;
    font-size: 22px;
    color: #fff;
    padding: 11px 14px;
  }
}
