.sidebar {
  width: 236px;
  margin-right: 23px;
  margin-bottom: 18px;
  @include mi_breakpoint(medium) {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}

.main-content {
  width: 701px;
  margin-bottom: 30px;
  @include mi_breakpoint(medium) {
    width: 100%;
  }
  @include mi_breakpoint(small) {
    margin-bottom: 0px;
  }
}

.flex-container {
  display: flex;
  @include mi_breakpoint(medium) {
    flex-direction: column-reverse;
  }
}
