.live-chat {
  background-color: $colorPrimary;
  background-image: url("../images/live-chat.png");
  background-repeat: no-repeat;
  background-position: top 15px right 20px;
  color: #fff;
  padding: 20px;
  text-decoration: none;
  font-weight: 700;
  display: block;
  margin-bottom: 19px;
  @include mi_breakpoint(medium) {
    padding-left: 35%;
    background-position: top 15px right 35%;
  }
  @include mi_breakpoint(small) {
    padding-left: 20px;
    background-position: top 15px right 20px;
  }
  &__title {
    font-size: 28px;
    margin-bottom: 13px;
  }
  &__tagline {
    font-size: 18px;
  }
}
