@mixin mi_breakpoint($deviceType) {
  @if $deviceType == small {
    @media (max-width: 600px) {
      @content;
    }
  }
  @else if $deviceType == medium {
    @media (max-width: 1020px) {
      @content;
    }
  }
  @else if $deviceType == large {
    @media (min-width: 1021px) {
      @content;
    }
  }
}
