@mixin mi_hover($rank) {
  @if $rank == primary {
    background-color: $colorPrimary;
    color: #fff;
  }
  @else if $rank == secondary {
    background-color: $colorSecondary;
    color: #fff;
  }
  @else if $rank == tertiary {
    color: $colorPrimary;
    background-color: $colorTertiary;
  }
}
