.nav {
  display: flex;
  justify-content: space-around;
  background-color: $colorPrimary;
  font-size: $fontSizeBody;
  margin-bottom: 25px;
  @include mi_breakpoint(medium) {
    flex-flow: row wrap;
  }
  li {
    @include mi_breakpoint(medium) {
      width: 25%;
      text-align: center;
    }
    @include mi_breakpoint(small) {
      width: 100%;
    }
  }

  &__item {
    display: block;
    padding: 8px 26px;
    color: #fff;
    text-decoration: none;
    &:hover {
      @include mi_hover(tertiary);

    }
    &--active {
      color: #000;
      background-color: $colorTertiary;
    }
  }
}
