.pagination {
  display: flex;
  text-align: center;
  justify-content: flex-end;
  align-items: center;
  @include mi_breakpoint(small) {
    margin-top: 5px;
  }
  &__link {
    display: inline-block;
    padding: 0px 4px;
    text-decoration: none;
    color: #000;
    &:hover {
      @include mi_hover(secondary);
    }
    &--active {
      background-color: $colorSecondary;
      color: #fff;
    }
  }
}
