.sidebar-actions {
  @include mi_breakpoint(medium) {
    display: flex;
  }
  @include mi_breakpoint(small) {
    display: block;
  }
}
.sidebar-cta {
  background-color: $colorTertiary;
  padding: 20px 20px 57px;
  color: #000;
  position: relative;
  display: block;
  line-height: 20px;
  font-size: 13px;
  margin-bottom: 19px;

  @include mi_breakpoint(medium) {
    display: inline-block;
    width: calc(50% - 12px);
    margin-right: 24px;
    &:last-of-type {
      margin-bottom: 19px;
    }
    &:nth-of-type(2n+2) {
      margin-right: 0;
    }
  }
  @include mi_breakpoint(small) {
    width: 100%;
    display: block;
    margin-right: 0;
  }
  p + .form__input {
    margin-top: 5px;
  }
  &__title {
    font-size: 19px;
    font-weight: 700;
    color: $colorPrimary;
    margin-bottom: 10px;
  }
  &__link {
    color: $colorPrimary;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    padding:  11px 26px 10px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    &:hover {
      @include mi_hover(primary);
    }
  }
}
