.vehicle-listing {
  &__title {
    font-size: 16px;
    color: #000;
    line-height: 18px;
    font-weight: 700;
    &--primary {
      color: $colorPrimary;
    }
  }
  &__layout {
    margin-top: 12px;
    margin-bottom: 44px;
    display: flex;
    @include mi_breakpoint(small) {
      flex-direction: column;
    }
  }
  &__thumb {
    width: 200px;
    margin-right: 13px;
    @include mi_breakpoint(medium) {
      width: calc(25% - 13px);
    }
    @include mi_breakpoint(small) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1px;
    }
  }
  &__info {
    width: 488px;
    position: relative;
    @include mi_breakpoint(medium) {
      width: 75%;
    }
    @include mi_breakpoint(small) {
      width: 100%;
      padding-bottom: 16px;
    }
  }
  &__data {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 12px;
    tr {
      border-bottom: 1px solid #fff;
      &:last-of-type {
        border: none;
      }
      td {
        background-color: $colorTertiary;
        border-right: 1px solid #fff;
        padding: 0px 12px;
        width: calc(100% / 3);
        font-size: 11px;
        line-height: 36px;
        @include mi_breakpoint(small) {
          line-height: 22px;
          font-weight: 700;
          text-align: center;
          padding: 6px 12px;
        }
        span {
          float: right;
          @include mi_breakpoint(small) {
            float: none;
            font-weight: 400;
            display: block;
          }
        }
        &:last-of-type{
          border: none;
        }
      }
    }
  }
  &__location {
    color: $colorSecondary;
    font-size: 13px;
    line-height: 18px;
    display: block;
    text-decoration: none;
    font-weight: 700;
  }
  &__cta {
    background-color: $colorPrimary;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    line-height: 32px;
    padding: 0px 13px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    &:hover {
      @include mi_hover(tertiary);

    }
  }
}
